#logo {
    width: 100px;
    float: left;
}

h1 {
    height: 61px;
    text-align: center;
}

table {
    border: 1px solid;
    border-collapse: collapse;
}

    table td {
        border: 1px solid;
        text-align: center;
    }

    table th {
        border: 1px solid;
        text-align: center;
    }
